@media (min-width: 300px) and (max-width: 450px) {
  .landing-ctr {
    flex-direction: column;
    align-items: center;
    width: 100% !important;  /* Use 100% without quotes */
  }

  .landing-l-ctr {
    order: 2;
    text-align: center;
    width: 100% !important;  /* Use 100% without quotes */
    /* background-color: gray !important; */
  }

  .landing-r-ctr {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 20px;
  }

  .landing-banner {
    width: 280px !important;
    height: 350px !important;

  }

  .landing_brake {
    display: none !important;
  }

  .slogan_text {
    font-size: 40px !important;
    text-align: left !important;
    width: 100% !important;  /* Use 100% without quotes */
    /* background-color: red; */
  }

  .start_btn {
    display: flex;
    align-self: center;  /* Centers the button horizontally */
    margin-top: 10px !important;  /* Ensure units are specified (e.g., 10px) */
    margin-left: 0 !important;  /* Removes unnecessary left margin */
  }
}
