.navbar-cntr{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    /* background-color: RED; */

}

.navbar-right-cntr{
    display: flex;
}
.navbar-left-cntr{
    display: flex;
  
   
    justify-content: flex-end;
  
}

.nav-actions{
    margin: 2em;
    cursor: pointer;
}

.nav-actions-btn{
    margin: 2em;
}

.nav-actions:hover{
    color:#35ffa9;
    font-size: 1.2em;
}

.nav-name-icon{
    color:#35ffa9;
    margin-right: 0.5em;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}

.nav-name:hover{
    color:#35ffa9;
    cursor: pointer;
}

.briefme-btn{
    color: #0b0b0b;
    background-color: #35ffa9 !important;
}

.btn-text{
    color: #0a0a0a;
    font-size: 1em;
    text-transform: none;
}

.lang-text{
    color:#35ffa9;
    /* margin: 1em; */
}

.separator{
    display: flex;
    align-items: center;
  }
  
  .separator h2{
    padding: 0 2rem; /* creates the space */
  }
  
  .separator .line{
    flex: 1;
    height: 3px;
    background-color: #000;
  }